/* ОБРАТНАЯ СВЯЗЬ */
/* ЗАГРУЗКА НОВОЙ МОДЕЛИ */
/* СОЗДАНИЕ ПОСТА */

.form-control {
    display: block;
    margin-top: 24px;
}

.selectricWrapper {
    max-width: 100%;
}

.form-control_inline {
    display: inline-block;
    width: 47%;
    margin-right: 1%;
}

.form-control_inline-half {
    display: inline-block;
    width: 24%;
    margin-right: 1%;
}

.form-control .form-control__label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #444444;
}


.form-control .form-control__input {
    height: 48px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    font: inherit;
}

.form-control .form-control__select {
    width: 48%;
}

.form-control .form-control__input_full {
    width: 100%;
}

.form-control .form-control__input_half {
    width: 48%;
}

.form-control .form-control__label .form-control__asterisk {
    color: #FF475C;
}

.form-control .form-control__text-error {
    font-size: 13px;
    color: #FF475C;
}

.form-control .form-control__text-desc {
    margin-top: 8px;
    font-size: 13px;
    color: #8D8D8D;
}


.form-control .form-control__area {
    box-sizing: border-box;
    height: 150px;
    padding: 15px;
    resize: none;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font: inherit;
}

.form-control  .form-control__area_full {
    width: 100%;
}

.form-control  .form-control__area_medium {
    width: 66%;
}

.form-control .form-control__image, #fb_captcha {
    float: left;
}

#fb_captcha {
    width: 25%;
}

.form-control .form-control__image {
    height: 48px;
    width: 148px;
    margin-left: 20px;
}

.form-control .form-control__image img {
    height: 100%;
    width: 100%;
}

.form-control .form-control__submit {
    height: 50px;
    font: inherit;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
}

.form-control .form-control__submit:after {
    content: none;
}

.form-control .form-control__submit_fourth {
    width: 25%;
}

.form-control .form-control__submit_full {
    width: 100%;
}

.form-control .form-control__input:focus, .form-control .form-control__area:focus {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.form-text {
    color: #8D8D8D;
}

.pricing_head_checker {
    margin-top: 28px;
}

.pricing_head_checker span {
    color: #444444 !important;
    text-transform: none;
    font-size: 16px;
}



.images-uploader .image-uploader {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 140px;
    height: 110px;
    margin: 0 5px 3px 0;
    text-align: center;
    background: #d9d9d9;
    border-radius: 2px;
    line-height: 1.2;
}

.images-uploader .image-uploader_full {
    width: 100%;
}

.images-uploader > .image-uploader:first-child {
    padding-top: 24px;
    background: none;
    border: 2px dashed #F2F2F2;
}

.images-uploader .image-uploader a {
    text-decoration: none;
}

.images-uploader .image-uploader a.drop:before {
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
    padding-top: 3px;
    background-color: #fff;
    border-radius: 50%;
    font-family: "Pe-icon-7-stroke";
    font-size: 16px;
    content: "\e609";
}

.images-uploader .image-uploader a.drop.isset:before {
    background-color: #FF475C;
    color: #fff;
}

.images-uploader > .image-uploader:first-child a:before {
    font-family: "Pe-icon-7-stroke";
    font-size: 32px;
    content: "\e623";
}

.images-uploader .image-uploader img {
    width: 140px;
    height: 110px;
}

.posts-theme-b {
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.posts-theme-b .posts-theme-b__headline, .addition-func-b .addition-func-b__headline {
    margin: 32px 0;
    font-size: 20px;
}

.posts-theme-b .posts-theme-b__trigger:after, .addition-func-b .addition-func-b__trigger:after {
    margin-top: 16px;
    transform: rotate(0deg);
    font-family: "Pe-icon-7-stroke";
    float: right;
    font-weight: 200;
    line-height: 0;
    font-size: 40px;
    content: "\e680";
    cursor: pointer;
}

.posts-theme-b .posts-theme-b__trigger_rotate:after, .addition-func-b .addition-func-b__trigger_rotate:after {
    transform: rotate(45deg);
}

.posts-theme-b .posts-theme-b__body .form-control:first-child, .addition-func-b .addition-func-b__body .pricing_head_checker:first-child {
    margin-top: 0;
}

.posts-theme-b .posts-theme-b__body .form-control .form-control__label:last-of-type {
    margin-top: 20px;
}

.addition-func-b .addition-func-b__body .pricing_head_checker:last-child {
    margin-bottom: 40px;
}

.selectricWrapper {
    width: 66%;
}

@media (max-width: 768px) {
    .form-control_inline,
    .form-control_inline-half,
    .form-control .form-control__input,
    .form-control .form-control__submit,
    .form-control .form-control__select {
        width: 100%;
    }

    .form-control_inline, .form-control_inline-half {
        display: block;
    }

    .form-control .form-control__area {
        width: 100%;
    }

    #fb_captcha, .form-control .form-control__image {
        width: 45%;
    }

    .form-control_inline {
        margin-top: 0;
    }

    .selectricWrapper {
        width: 100%;
    }
}

/* УДАЛИТЬ */
@media (max-width: 1280px) {
    .panel {
        width: 267px !important;
    }
}

/* ПРЕДПРОСМОТР */

.preview-b {
    margin: 20px 0 60px 0;
}

.preview-b .preview-b-header > span:last-child {
    float: right;
    cursor: pointer;
}

.preview-b .preview-b-header > span:last-child:hover {
    color: #ff475c;
}

.preview-b .preview-b-header > span:last-child:after {
    vertical-align: middle;
    font-family: "Pe-icon-7-stroke";
    font-size: 18px;
    content: "\e680";
}

.preview-b .preview-b-body {
    box-sizing: border-box;
    margin-top: 16px;
    padding: 24px;
    border: 3px dashed #F2F2F2;
}

.preview-b .preview-b-body .preview-b-body__info .preview-b-body__name {
    text-decoration-line: underline;
    color: #8D8D8D;
}

.preview-b .preview-b-body .preview-b-body__info .preview-b-body__date {
    margin-left: 20px;
    color: #8D8D8D;
}

.preview-b .preview-b-body .preview-b-content {
    margin-top: 26px;
}

.preview-b .preview-b-body .preview-b-content img {
    max-width: 100% !important;
    height: auto !important;
}

.preview-b-footer {
    margin-top: 24px;
}

.preview-b-footer .preview-b-footer__btn {
    width: 100%;
    height: 48px;
    border: none;
    background: linear-gradient(0deg, #F2F2F2, #F2F2F2);
    color: #444;
    font: inherit;
    cursor: pointer;
}

.preview-b-footer .preview-b-footer__btn:hover {
    color: #fff;
}

.preview-b-footer .preview-b-footer__btn:after {
    content: none;
}

.memo-b {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border: 3px solid #F2F2F2;
}

.memo-b .memo-b__headline {
    font-size: 24px;
}

.memo-b .memo-b__text {
    margin: 0;
    font-size: 16px;
}

.note-modal-title {
    display: none;
    border: none;
}

.note-modal-header {
    border: none;
}

.note-video-btn, .note-link-btn {
    height: 44px;
    line-height: 42px;
    color: #00ade2;
    border-color: #00ade2;
    margin: 0 auto;
    float: none !important;
    padding: 0 15px;
    background: none;
}

.note-video-btn:hover, .note-link-btn:hover {
    border-color: #00ade2;
    color: #00ade2;
    background: none;
}

.note-video-url, .note-input {
    margin: 0;
}

.note-modal-body {
    padding: 20px 30px 0;
}

.note-modal-footer {
    padding-bottom: 20px;
}

.note-video-clip {
    width: 100%;
    height: 495px;
    min-height: 350px;
    margin: 16px 0;
}

.note-editable > p > a > img {
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 720px) {
    .note-video-clip {
        height: auto;
    }
}

.note-editor.note-frame {
    border: 1px solid #D9D9D9;
}

.sn-checkbox-open-in-new-window {
    display: none;
}

.note-modal-body>:nth-child(2) {
    padding-bottom: 0;
}